header {
    font-size: 50px;
    text-align: center;
    background-color:lightslategrey;
    Padding: 22px
}
h2 {
    text-align: right;
    font-size: 28px;
}
p {
    font-size: 22px;
}
input {
    margin: 5px;
    margin-bottom: 7px;

}
table{
    border: 1px solid black;
    margin: auto;
    border-collapse:collapse;

}
th, td {
    margin: 3px;
    padding: 11px;
}


.error {
    background-color: red;
    padding: 3px;
}
.outside {
    border: 5px solid;
    color: black;
    padding: 20px;

}