header {
    font-size: 30px;
    text-align: center;
}
h2 {
    text-align: right;
}
input {
    margin: 5px;
}

#submitButton {
}
td {
    margin: 3px; 
}

.error {
    border: 3px solid;
    color: red;
    font: 3px;
    padding: 3px;
}
.outside {
    border: 5px solid;
    color: black;
}